<div class="container__home">
  <pokedex-header></pokedex-header>
  <section class="wrapper__search">
    <pokedex-search></pokedex-search>
  </section>
  <section class="wrapper__cards">
    <ng-container *ngIf="pokemon$ | async as pokemons; else loading">
      <pokedex-card
        *ngFor="let pokemon of pokemons"
        [pokemonId]="pokemon.id"
        [pokemonName]="pokemon.name"
        [pokemonImage]="pokemon.image"
        (clickCard)="getCardClick($event)"
      ></pokedex-card>
    </ng-container>
    <ng-template #loading>
      <div class="loader__wrapper">
        <span class="loader"></span>
      </div>
    </ng-template>
  </section>
</div>
