<main class="container__home">
  <pokedex-modal #modal>
    <pokedex-sort-card></pokedex-sort-card>
  </pokedex-modal>
  <pokedex-header></pokedex-header>
  <section class="wrapper__search">
    <pokedex-search (typingText)="getSearchText($event)"></pokedex-search>
    <pokedex-sort (click)="modal.toggle()"></pokedex-sort>
  </section>
  <section class="wrapper__cards">
    <ng-container *ngIf="pokemon$ | async as pokemons; else loading">
      <pokedex-card
        *ngFor="let pokemon of pokemons | filterPokemons : searchText"
        [pokemonId]="pokemon.id"
        [pokemonName]="pokemon.name"
        [pokemonImage]="pokemon.image"
        (clickCard)="getCardClick($event)"
      ></pokedex-card>
    </ng-container>
    <ng-template #loading>
      <div class="loader__wrapper">
        <span class="loader"></span>
      </div>
    </ng-template>
  </section>
</main>
