/* You can add global styles to this file, and also import other style files */
:root {
    --identity-primary: #DC0A2D;
    --grayscale-white: #FFFFFF;
    --grayscale-background: #EFEFEF;
    --grayscale-medium: #666;
    --pokemon-type-grass: #74CB48;
    --pokemon-type-poison: #A43E9E;
    --pokemon-type-fire: #F57D31;
    --pokemon-type-water: #6493EB;
    --pokemon-type-flying: #A891EC;
    --pokemon-type-bug: #A7B723;
    --pokemon-type-electric: #F9CF30;
    --pokemon-type-ghost: #70559B;
    --pokemon-type-normal: #AAA67F;
    --pokemon-type-psyhic: #FB5584;
    --pokemon-type-steel: #B7B9D0;
    --pokemon-type-rock: #B69E31;
    --pokemon-type-ground: #E0C068;
    --pokemon-type-fairy: #E03A83;
    --pokemon-type-fighting:#FF501F;
    --pokemon-type-psychic:#F85888;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body { 
    min-height: 100vh; 
}

@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins';
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    src: url('assets/fonts/Poppins-SemiBold.ttf');
}