/* You can add global styles to this file, and also import other style files */
:root {
    --identity-primary: #DC0A2D;
    --grayscale-white: #FFFFFF;
    --grayscale-background: #EFEFEF;
    --grayscale-medium: #666;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    min-height: 100vh; 
}