/* You can add global styles to this file, and also import other style files */
:root {
    --identity-primary: #DC0A2D;
    --grayscale-white: #FFFFFF;
    --grayscale-background: #EFEFEF;
    --grayscale-medium: #666;
    --pokemon-type-grass: #74CB48;
    --pokemon-type-poison: #A43E9E;
    --pokemon-type-fire: #F57D31;
    --pokemon-type-water: #6493EB;
    --pokemon-type-bug: #A7B723;
    --pokemon-type-eletric: #F9CF30;
    --pokemon-type-ghost: #70559B;
    --pokemon-type-normal: #AAA67F;
    --pokemon-type-psyhic: #FB5584;
    --pokemon-type-steel: #B7B9D0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    min-height: 100vh; 
}